body {
	// Layout
	// Flexbox
	// Grid
	// Table
	// Sizing
	// Spacing
	padding-left: 248px;
	// Transform
	// Background
	// Border
	// Effects
	// ... Shadow
	// ... Opacity
	// ... Filter
	// Typography
	line-height: 1.5;
	// Animation
	// Interactivity
}
::-webkit-scrollbar {
	// Sizing
	width: 3px;
	height: 3px;

	&-track {
		// Background
		background: $body-bg-dark;
	}
	&-thumb {
		// Background
		background-color: $body-tertiary-color-dark;
		// Border
		border: 1px solid $body-bg-dark;
		border-radius: 1px;
	}
}

.form-check-label {
	cursor: pointer;
}

.invisible {
	width: 0;
	height: 0;
	position: absolute;
}
