@import '~bootstrap/scss/bootstrap';

.btn-toggle {
	display: inline-flex;
	align-items: center;
	padding: 0.25rem 0;
	color: rgba(0, 0, 0, 0.65);
	background-color: transparent;
	border: 0;
	svg {
		height: 1rem;
		width: 1rem;
	}
	&:hover {
		color: rgba(0, 0, 0, 0.85);
		background-color: #d2f4ea;
	}
	transition: transform 0.35s ease;
	// transform-origin: 0.5em 50%;
	&[aria-expanded='true'] {
		color: rgba(0, 0, 0, 0.85);
		transform: rotate(90deg);
	}
	&-nav {
		.list {
			margin-left: 1rem;
		}
	}
}
.collapse-summary {
	display: inline-flex;
	padding: 0.1875rem 0.5rem;
	margin-top: 0.125rem;
	text-decoration: none;
	width: 100%;
}
a.collapse-summary:hover {
	background-color: #d2f4ea;
}

.list-item {
	.summary-container {
		&:hover,
		&:focus {
			.dropdown-toggle {
				opacity: 1;
				transition: opacity 0.35s ease;
			}
		}
	}
	&:not(:has(.btn-toggle)) {
		padding-left: 1rem;
	}
}

.fw-semibold {
	font-weight: 600;
}
.lh-tight {
	line-height: 1.25;
}

.dropdown-toggle,
.dropdown-item {
	cursor: pointer;
}

.dropdown-toggle {
	padding: 0.25rem 0.5rem;
	opacity: 0;

	&::after {
		display: none;
	}
	&:hover {
		color: rgba(0, 0, 0, 0.85);
		background-color: #d2f4ea;
	}
}
